Repository mangila/ensure4j: changes, and which CircleCI parameters are due for each by the changed paths.
All: library-release, update-site

0.0.7
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
  lib/src/main/java/io/github/mangila/ensure4j/EnsureException.java
Due: library-release, update-site

[CircleCI] Updated Maven Site
  docs/apidocs/allclasses-index.html
  docs/apidocs/allpackages-index.html
  docs/apidocs/help-doc.html
  docs/apidocs/index-all.html
  docs/apidocs/index.html
  docs/apidocs/io/github/mangila/ensure4j/Ensure.html
  docs/apidocs/io/github/mangila/ensure4j/EnsureException.html
  docs/apidocs/io/github/mangila/ensure4j/class-use/Ensure.html
  docs/apidocs/io/github/mangila/ensure4j/class-use/EnsureException.html
  docs/apidocs/io/github/mangila/ensure4j/package-summary.html
  docs/apidocs/io/github/mangila/ensure4j/package-tree.html
  docs/apidocs/io/github/mangila/ensure4j/package-use.html
  docs/apidocs/member-search-index.js
  docs/apidocs/overview-tree.html
  docs/apidocs/search.html
  docs/apidocs/serialized-form.html
  docs/jacoco-aggregate/jacoco-sessions.html
  docs/jacoco-aggregate/jacoco.xml
  docs/jacoco/io.github.mangila.ensure4j/Ensure.java.html
  docs/jacoco/io.github.mangila.ensure4j/EnsureException.html
  docs/jacoco/io.github.mangila.ensure4j/EnsureException.java.html
  docs/jacoco/jacoco-sessions.html
  docs/jacoco/jacoco.xml
  docs/pmd.html
Due: none

0.0.7
  .circleci/continue_config.yml
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

0.0.7
  .circleci/continue_config.yml
Due: none

0.0.7
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

[maven-release-plugin] prepare release ensure4j-0.0.7
  lib/pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  lib/pom.xml
Due: none

0.0.7
  .circleci/config.yml
  .circleci/continue_config.yml
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

0.0.7
  lib/pom.xml
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

0.0.7
  .circleci/continue_config.yml
  lib/pom.xml
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

Fix links in README for coverage and Javadocs
  README.md
Due: none

return values instead
  .circleci/continue_config.yml
  lib/src/main/java/io/github/mangila/ensure4j/Ensure.java
Due: library-release, update-site

return values instead
  lib/src/test/java/io/github/mangila/ensure4j/NumbersTest.java
  lib/src/test/java/io/github/mangila/ensure4j/StringTest.java
Due: update-site

[maven-release-plugin] prepare release ensure4j-0.0.8
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.9
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.10
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.11
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.12
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.13
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.14
  lib/pom.xml
Due: none

[maven-release-plugin] prepare release ensure4j-0.0.15
  lib/pom.xml
Due: none

Path conditions:
  library-release: any of: lib/src/main/.*
  update-site: any of: lib/src/.*
